
<div id="jwalPage">
  <div id="jwal_row">
    <div class='jwal_img'>
      <%= image_tag('pikachu.png', id:'jimg1') %>
    </div>
    <div class='jwal_img'>
      <%= image_tag('magic.jpg', id:'jmidimg') %> 
    </div>
    <div class='jwal_img'>
      <%= image_tag('op.png', id:'jimg2') %> 
    </div>
  </div>
  <div class='row mt-4'>
    <div class='col-md-4 col-sm-12'>
      <h2 class="subtitle">
        Just Win & Loot Games
      </h2>
      <p>

        Looking to buy cards, place a bulk order, or learn more? Head over to their <%= link_to 'homepage.', 'https://www.justwinandlootgames.com' %>
      </p>
      <h3 class="subtitle">Hours of operation</h3>
      <table class='table'>
        <tr>
          <td>Monday</td><td>5PM - 10:30PM*</td>
        </tr>
        <tr>
          <td>Tuesday</td><td>5PM - 10:30PM*</td>
        </tr>
        <tr>
          <td>Wednesday</td><td>5PM - 10:30PM*</td>
        </tr>
        <tr>
          <td>Thursday</td><td>5PM - 10:30PM*</td>
        </tr>
        <tr>
          <td>Friday</td><td>5PM - 10:30PM*</td>
        </tr>
        <tr>
          <td>Saturday</td><td>5PM - 10:30PM*</td>
        </tr>
        <tr>
          <td>Sunday</td><td>5PM - 10:30PM*</td>
        </tr>
      </table>
      <i class='notes'>* Closing hours may shift depending on TCG event schedules.</i>
      <br><br>
      <h3 class="subtitle">Business info</h3>
      <p>
        <i class="fa-solid fa-envelope"></i>: justwinandlootgmames@gmail.com
      </p>
      <p>
        <i class="fa-solid fa-phone"></i>: 925-880-5518
      </p>

    </div>
    <div class='col-md-8 col-sm-12'>
    	<div id="calendar"></div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const calendarEl = document.getElementById('calendar');
    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      events: [
        { title: 'Meeting', start: '2025-09-10' },
        { title: 'Deadline', start: '2025-09-15' }
      ]
    });
    calendar.render();
  });
</script>

