
<div id="menu">
	<h2 class="title">SERVING BOBA TEA IN CARMICHAEL</h2>
	<p>
		Sip and Game is proud to be one of the few bubble tea shops in Carmichael offering authentic boba, milk tea, and fruit smoothies. With over 5 years of experience in the bubble tea industry, our owners are passionate about serving the Carmichael community — not just with high-quality drinks, but also through our unique blend of trading card games (TCG), console gaming, and a welcoming lounge atmosphere.
	</p>
	<hr>
	<div class="row">
		<div class='col-sm-6 col-md-4'>
			<h3 class='subtitle'>Milk Tea</h3>
			<table class='table'>
				<tr>
					<td>Earl grey</td><td>$4.75</td>
				</tr>
				<tr>
					<td>Jasmine milk tea</td><td>$4.75</td>
				</tr>
				<tr>
					<td>Jasmine tea</td><td>$4.75</td>
				</tr>
				<tr>
					<td>Thai milk tea</td><td>$4.99</td>
				</tr>
				<tr>
					<td>Dirty milk tea</td><td>$6.99</td>
				</tr>
				<tr>
					<td>Strawberry milk tea</td><td>$5.35</td>
				</tr>
				<tr>
					<td>Mango milk tea</td><td>$5.35</td>
				</tr>
				<tr>
					<td>Honeydew milk tea</td><td>$5.35</td>
				</tr>
				<tr>
					<td>Wintermelon milk tea</td><td>$5.35</td>
				</tr>
				<tr>
					<td>Rose milk tea</td><td>$5.35</td>
				</tr>
				<tr>
					<td>Passion fruit milk tea</td><td>$5.35</td>
				</tr>
				<tr>
					<td>Matcha milk tea</td><td>$5.99</td>
				</tr>
				<tr>
					<td>Kyoto blossom</td><td>$5.99</td>
				</tr>
				<tr>
					<td>Taro milk tea</td><td>$5.99</td>
				</tr>
			</table>
			<h3 class='subtitle'>Refreshers</h3>
			<table class='table'>
				<tr>
					<td>Strawberry refresher</td><td>$5.49</td>
				</tr>
				<tr>
					<td>Mango refresher</td><td>$5.49</td>
				</tr>
				<tr>
					<td>Pineapple refresher</td><td>$5.49</td>
				</tr>
				<tr>
					<td>Hawaiian mix</td><td>$5.49</td>
				</tr>
			</table>
		</div>
		<div class='col-sm-6 col-md-4'>
			<h3 class='subtitle'>Smoothies</h3>
			<table class='table'>
				<tr>
					<td>Strawberry smoothie</td><td>$6.75</td>
				</tr>
				<tr>
					<td>Mango smoothie</td><td>$6.75</td>
				</tr>
			</table>
			<h3 class='subtitle'>Tonic</h3>
			<table class='table'>
				<tr>
					<td>Strawberry tonic</td><td>$3.99</td>
				</tr>
				<tr>
					<td>Mango tonic</td><td>$3.99</td>
				</tr>
				<tr>
					<td>Honeydew tonic</td><td>$3.99</td>
				</tr>
				<tr>
					<td>Passion fruit tonic</td><td>$3.99</td>
				</tr>
				<tr>
					<td>Pineapple tonic</td><td>$3.99</td>
				</tr>
			</table>
			<h3 class='subtitle'>Canned Beverages</h3>
			<table class='table'>
				<tr>
					<td>Redbull</td><td>$4.49</td>
				</tr>
				<tr>
					<td>Redbull zero</td><td>$4.49</td>
				</tr>
				<tr>
					<td>Redbull pink</td><td>$4.49</td>
				</tr>
				<tr>
					<td>Monster</td><td>$4.49</td>
				</tr>
				<tr>
					<td>Monster lo-carb</td><td>$4.49</td>
				</tr>
				<tr>
					<td>Rockstar focus</td><td>$4.49</td>
				</tr>
				<tr>
					<td>Rockstar og</td><td>$4.49</td>
				</tr>
			</table>
		</div>
		<div class='col-sm-6 col-md-4'>
			<h3 class='subtitle'>Cup Noodles</h3>
			<table class="table">
				<tr>
					<td>Chicken noodle</td><td>$2.50</td>
				</tr>
				<tr>
					<td>Jin ramen</td><td>$4.50</td>
				</tr>
				<tr>
					<td>Tonkatsu</td><td>$4.50</td>
				</tr>
				<tr>
					<td>Buldak</td><td>$4.50</td>
				</tr>
			</table>
			<h3 class='subtitle'>Toppings</h3>
			<table class="table">
				<tr>
					<td>Boba</td>
				</tr>
				<tr>
					<td>Strawberry popping boba</td>
				</tr>
				<tr>
					<td>Mango popping boba</td>
				</tr>
				<tr>
					<td>Peach popping boba</td>
				</tr>
				<tr>
					<td>Mango stars</td>
				</tr>
				<tr>
					<td>Lychee jelly</td>
				</tr>
				<tr>
					<td>Rainbow jelly</td>
				</tr>
				<tr>
					<td>Agar boba</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class='col-sm-12 col-md-6'>
			<%= image_tag('aycd.png', alt:'all you can drink promo') %>
		</div>	
	</div>

</div>
