
<div id="menu">
	<p>
		We have the food and beverages to keep you gaming!
	</p>
	<div class="row">
		<div class='col-sm-12 col-md-6'>
			<%= image_tag('aycd.png', alt:'all you can drink promo') %>
		</div>	
	</div>
	<div class='row mt-4'>
		<div class='col-sm-12 col-md-6'>
			<%= image_tag('drink_menu_2.png', alt:'drink menu') %>
		</div>
		<div class='col-sm-12 col-md-6'>
			<%= image_tag('drink_menu.png', alt:'drink menu continued') %>
		</div>
	</div>
</div>
