	
	<div id="menu">
		<p>
			We got the food to keep you energized and going!
		</p>

		<div class='row'>
			<div class='col-md-3'>
				<h2 class="subtitle">Refreshers</h2>
				<table>
					<tr><td>Strawberry fruit refresher</td></tr>
					<tr><td>Mango fruit refresher</td></tr>
					<tr><td>Orange fruit refresher</td></tr>
					<tr><td>Pineapple fruit refresher</td></tr>
					<tr><td>Hawaiian refresher</td></tr>
					<tr><td>Fresh fruit slush</td></tr>
				</table>	
				<br>
				<h2 class="subtitle">Tonic</h2>
				<table>
					<tr><td>Strawberry tonic</td></tr>
					<tr><td>Mango tonic</td></tr>
					<tr><td>Honeydew tonic</td></tr>
					<tr><td>Pineapple tonic</td></tr>
				</table>	
				<br>
				<h2 class="subtitle">Toppings</h2>
				<table>
					<tr><td>Strawberry pop'n boba</td></tr>
					<tr><td>Mango pop'n boba</td></tr>
					<tr><td>Peach pop'n boba</td></tr>
					<tr><td>Mango stars</td></tr>
					<tr><td>Rainbow jelly</td></tr>
				</table>	
			</div>

			<div class='col-md-3'>
				<h2 class="subtitle">Soda</h2>
				<table>
					<tr><td>Sprite</td></tr>
					<tr><td>Coca-cola</td></tr>
					<tr><td>Diet coke</td></tr>
				</table>
				<br>
				<h2 class="subtitle">Pick Me Up</h2>
				<table>
					<tr><td>C4</td></tr>
					<tr><td>Redbull</td></tr>
					<tr><td>Monster</td></tr>
					<tr><td>Rockstar</td></tr>
				</table>		
				<br>
				<h2 class="subtitle">Misc.</h2>
				<table>
					<tr><td>Water</td></tr>
				</table>	
			</div>

			<div class='col-md-3'>
				<h2 class="subtitle">Food</h2>
				<table>
					<tr><td>Nongshim cup noodles</td></tr>
					<tr><td>Samyuang spicy chicken noodles</td></tr>
					<tr><td>Cup noodles</td></tr>
					<tr><td>Chips</td></tr>
				</table>
		</div>

	</div>
</div>
