@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

@media (max-width: 768px) {
	#header img{
		width:60%;
	}
	#header{
		height:75vh!important;
	}
	#header .title{
		font-size:2.5rem !important;
	}
	.title{
		font-size:1.75rem !important;
	}
}
.notes{
	color:#6FB447;
}
.navbar-nav .nav-link.active {
  color: #6FB447 !important;
}
#header{
	background-image:url('mvc.jpg');
	background-position: center;
	background-size:cover;
	height:100vh;
	display: flex;
	justify-content:center;
	align-items: 	center;
	text-align: center;
	color: white;
}
#content{
	img{
		width:100%;
	}
}
#header img{
	width:70%;
}

#header .title{
	font-size:3.75rem;
	color:white;
}

.navbar-custom{
	background-color: #070125!important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* subtle bottom border */
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.2); /* soft shadow below */
  z-index: 10; /* ensures it sits above other content */

}
body{
	background-color:#08010A!important;
	height:auto;
	color:white!important;
}

.calendar {
  max-width: 600px;
  margin: 2rem auto;
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.day-cell {
  height: 100px;
  border: 1px solid #dee2e6;
  padding: 5px;
  cursor: pointer;
}
.day-cell.today {
  background-color: #e0f7fa;
  border: 2px solid #0d6efd;
}


.card-body{
	background-color:#070125;
	color:white!important;
}


.card{
	border:none!important;
}

#jwal{
	margin-top:5rem;
}
#jwalPage{
	min-height: 100vh;
}
#jwal_row{
	display: flex;
	justify-content: center;
	align-items: center;
}
.jwal_img{

	width:25%;
	display:inline-block;
	vertical-align: top;
	img{
		width:100%;
	}
}
#jimg1{
	transform: rotate(-15deg);
	z-index: -9999;
}
#jimg2{
	transform: rotate(18deg);
	z-index: -9999;
}
#jmidimg{
	z-index: 99999;
	position:relative;
}
footer{
	border-color:none!important;
	img{
		width:125px;
	}
	#subfooter{
		img{
			width:64px;
		}
	}
}

.title{
	font-family: "Rubik Dirt", system-ui;
	font-size:2.75rem;
	color:#6FB447;
}

.card-title, .subtitle, .nav-link{
		font-family: "Rubik Dirt", system-ui;
}

#menu{
	min-height: 100vh;
}

.important{
	font-family: "Rubik Dirt", system-ui;
	font-size:1.5rem;
}

.table tr, .table td{
	background-color:transparent!important;
	color:white!important;
	border:none!important;
}

